<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  {% load static %}    <link rel="stylesheet" href="{% static 'polls/style.css' %}">  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>近期COVID-19確診人員問卷調查</title>
    <script>alert("如果您沒有確診過或是未達隔離天數請勿填寫表單")</script>   <style>

    </style>
</head>
<body>
<blockquote><h1>&nbsp;&nbsp;&nbsp;調查確診人員居家隔離兩週後身體狀況</h1></blockquote>
{% if latest_question_list %}
{% for question in latest_question_list %}
  {% if question.question_text != "問卷項目（可點問題直接跳轉到）" %}
    <h2>{{ question.question_text }}</h2>
    {% for choice in question.choice_set.all %}
      <div class="choice">
        <label for="{{ choice.id }}">
          <input type="radio" id="{{ choice.id }}" name="choice-{{ question.id }}" value="{{ choice.id }}">
          {{ choice.choice_text }}
        </label>
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}
<div>
  <input type="submit" value="提交">
</div>
{% else %}
  <p>沒有任何問卷調查可供參與。</p>
{% endif %}
</body>
</html>
