<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'polls/style.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>近期COVID-19確診人員問卷調查</title>
  <script>alert("如果您沒有確診過或是未達隔離天數請勿填寫表單")</script>
</head>
<body style="display: flex;">
  <div class="container">
    {% block content %}
    {% endblock %}

    <h1>&nbsp;&nbsp;&nbsp;&nbsp;調查確診人員居家隔離兩週後身體狀況</h1>
    {% if latest_question_list %}
      <form method="post" action="/submit">
        {% csrf_token %}
        {% for question in latest_question_list %}
          <h2>{{ question.question_text }}</h2>
          {% if question.type == 'single' or question.type == 'multiple' %}
            {% if question.type == 'single' %}
              <select name="choice-{{ question.id }}">
                {% for choice in question.choice_set.all %}
                  <option value="{{ choice.id }}">{{ choice.choice_text }}</option>
                {% endfor %}
              </select>
            {% elif question.type == 'multiple' %}
              <ul>
                {% for choice in question.choice_set.all %}
                  <li>
                    <label for="{{ choice.id }}">
                      <input type="checkbox" id="{{ choice.id }}" name="choice-{{ question.id }}" value="{{ choice.id }}">
                      {{ choice.choice_text }}
                    </label>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% else %}
            <p>問題類型無效</p>
          {% endif %}
        {% endfor %}
        <div>
          <input type="submit" value="提交">
        </div>
      </form>
    {% else %}
      <p>沒有任何問卷調查可供參與。</p>
    {% endif %}
  </div>
</body>
</html>